1.	Write a Python program to convert kilometers to miles?

In [ ]:
def converter(kilo):
  conveter_func = 0.621371
  miles = conveter_func * kilo
  print("{} kilometer  is converted into {} miles".format(kilo,miles))
converter(2)

2 kilometer  is converted into 1.242742 miles

In [ ]:
kilometer = 10

converter_func = 0.621371
miles = converter_func * kilometer
print("{} kilometer is converterd into {} miles".format(kilometer,miles))

10 kilometer is converterd into 6.21371 miles

2.	Write a Python program to convert Celsius to Fahrenheit?

In [ ]:
def temp_conv(celsius):
  fahrenheit = (celsius * 1.8) + 32
  print("{} Celsius  is converted into {} farhenheit".format(celsius,fahrenheit))
temp_conv(40)

40 Celsius  is converted into 104.0 farhenheit

3.	Write a Python program to display calendar?

In [ ]:
import calendar
import datetime

def calender_yr(year,month):
  print(calendar.month(year,month))

calender_yr(2020,12)

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
import calendar

print(calendar.calendar(2021,5))

                                                                  2021

                 January                                        February                                        March
 Mon   Tue   Wed   Thu   Fri   Sat   Sun        Mon   Tue   Wed   Thu   Fri   Sat   Sun        Mon   Tue   Wed   Thu   Fri   Sat   Sun
                           1     2     3          1     2     3     4     5     6     7          1     2     3     4     5     6     7
   4     5     6     7     8     9    10          8     9    10    11    12    13    14          8     9    10    11    12    13    14
  11    12    13    14    15    16    17         15    16    17    18    19    20    21         15    16    17    18    19    20    21
  18    19    20    21    22    23    24         22    23    24    25    26    27    28         22    23    24    25    26    27    28
  25    26    27    28    29    30    31                                                        29    30    31

                  April                                           May                                            June
 Mon   Tue   Wed   Thu   Fri   Sat   Sun        Mon   Tue   Wed   Thu   Fri   Sat   Sun        Mon   Tue   Wed   Thu   Fri   Sat   Sun
                     1     2     3     4                                        1     2                1     2     3     4     5     6
   5     6     7     8     9    10    11          3     4     5     6     7     8     9          7     8     9    10    11    12    13
  12    13    14    15    16    17    18         10    11    12    13    14    15    16         14    15    16    17    18    19    20
  19    20    21    22    23    24    25         17    18    19    20    21    22    23         21    22    23    24    25    26    27
  26    27    28    29    30                     24    25    26    27    28    29    30         28    29    30
                                                 31

                   July                                          August                                       September
 Mon   Tue   Wed   Thu   Fri   Sat   Sun        Mon   Tue   Wed   Thu   Fri   Sat   Sun        Mon   Tue   Wed   Thu   Fri   Sat   Sun
                     1     2     3     4                                              1                      1     2     3     4     5
   5     6     7     8     9    10    11          2     3     4     5     6     7     8          6     7     8     9    10    11    12
  12    13    14    15    16    17    18          9    10    11    12    13    14    15         13    14    15    16    17    18    19
  19    20    21    22    23    24    25         16    17    18    19    20    21    22         20    21    22    23    24    25    26
  26    27    28    29    30    31               23    24    25    26    27    28    29         27    28    29    30
                                                 30    31

                 October                                        November                                       December
 Mon   Tue   Wed   Thu   Fri   Sat   Sun        Mon   Tue   Wed   Thu   Fri   Sat   Sun        Mon   Tue   Wed   Thu   Fri   Sat   Sun
                           1     2     3          1     2     3     4     5     6     7                      1     2     3     4     5
   4     5     6     7     8     9    10          8     9    10    11    12    13    14          6     7     8     9    10    11    12
  11    12    13    14    15    16    17         15    16    17    18    19    20    21         13    14    15    16    17    18    19
  18    19    20    21    22    23    24         22    23    24    25    26    27    28         20    21    22    23    24    25    26
  25    26    27    28    29    30    31         29    30                                       27    28    29    30    31

4.	Write a Python program to solve quadratic equation?

In [ ]:
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

5.	Write a Python program to swap two variables without temp variable?

In [ ]:
def without_t(x,y):
  x = x+y
  y =x-y
  x= x-y
  print(x,y)
without_t(6,7)

7 6