1.	Write a Python Program to Find the Factorial of a Number?

In [ ]:
def factorial(num):
    if((num == 0) or (num == 1)):
        return 1
    else:
        return num * factorial(num - 1)

factorial(5)

120

2.	Write a Python Program to Display the multiplication Table?

In [ ]:
def m_table(num):
  for n1 in range(1,11,1):
    num1 = n1* num
    print(num, "*" ,n1, "=" ,num1)
m_table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

3.	Write a Python Program to Print the Fibonacci sequence?

In [ ]:
def Fibonacci(Number):
    if(Number==0):
        return 0
    elif(Number==1):
        return 1
    else:
        return (Fibonacci(Number-2)+Fibonacci(Number-1))
n=int(input("Enter the value of 'n': "))
print("Fibonacci Sequence:")
for n in range(0, n):
  print(Fibonacci(n))

Enter the value of 'n': 7
Fibonacci Sequence:
0
1
1
2
3
5
8

4.	Write a Python Program to Check Armstrong Number?
Ans:-

In [ ]:
def arm(num):
  num1 = list(str(num))
  print(num1)
  sum1=0
  for n1 in num1:
    sum1 += pow(int(n1),3)
  print(sum1)
  if num == sum1:
    print("It is a Armstrong Number")
  else:
    print("It is not an armstrong Number")
    

arm(1000)

['1', '0', '0', '0']
1
It is not an armstrong Number

5.	Write a Python Program to Find Armstrong Number in an Interval?

In [ ]:
def num_arm(num1,num2):

  for i in range(num1,num2):
    i2 = list(str(i))
    #print(i2)
    sum1 = 0
    for n1 in i2:
      sum1 +=pow(int(n1),3)
      #print(sum1)

      if (i ==sum1):
        print(sum1)
      else:
        pass
        

num_arm(1,3000)

1
153
370
370
371
407

6.	Write a Python Program to Find the Sum of Natural Numbers?

In [ ]:
def nat_num(num):
  if num < 0:
    print("Input Natural Number")
  else:
    sum=0
    for i in range(1,num+1):
      sum +=i
      i -=1
    print(sum)

nat_num(5)

15