1.	Write a Python Program to Find LCM?

In [ ]:

def compute_lcm(x, y):

   # choose the greater number
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

num1 = 54
num2 = 24

print("The L.C.M. is", compute_lcm(num1, num2))

The L.C.M. is 216

2.	Write a Python Program to Find HCF?

In [ ]:
def hcf_number(x, y):
  if x > y :
    small = y
  else:
    small = x
    for i in range(1,small+1):
      if (x % i == 0) or (y % i ==0):
        number = i
  return number


hcf_number(12,35)

12

3.	Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal?

In [ ]:
def dtob(num):
  if num >= 1:
    dtob(num // 2)
    print(num % 2)

def dtoo(num):
  if num >= 1:
    dtoo(num // 8)
    print(num % 8)

def dtoh(num):
  if num >= 1:
    dtoo(num // 16)
    print(num % 16)



dtob(10)

dtoo(40)

dtoh(60)

1
0
1
0
5
0
3
12

4.	Write a Python Program To Find ASCII value of a character?

In [ ]:
def ascii_find(character):
  print("ASCII Value of given character is",ord(character))

ascii_find("e")

ASCII Value of given character is 101

5.	Write a Python Program to Make a Simple Calculator with 4 basic mathematical operations?

In [ ]:
# Python program for simple calculator

# Function to add two numbers
def add(num1, num2):
	return num1 + num2

# Function to subtract two numbers
def subtract(num1, num2):
	return num1 - num2

# Function to multiply two numbers
def multiply(num1, num2):
	return num1 * num2

# Function to divide two numbers
def divide(num1, num2):
	return num1 / num2

print("Please select operation -\n" \
		"1. Add\n" \
		"2. Subtract\n" \
		"3. Multiply\n" \
		"4. Divide\n")


# Take input from the user
select = int(input("Select operations form 1, 2, 3, 4 :"))

number_1 = int(input("Enter first number: "))
number_2 = int(input("Enter second number: "))

if select == 1:
	print(number_1, "+", number_2, "=",
					add(number_1, number_2))

elif select == 2:
	print(number_1, "-", number_2, "=",
					subtract(number_1, number_2))

elif select == 3:
	print(number_1, "*", number_2, "=",
					multiply(number_1, number_2))

elif select == 4:
	print(number_1, "/", number_2, "=",
					divide(number_1, number_2))
else:
	print("Invalid input")

Please select operation -
1. Add
2. Subtract
3. Multiply
4. Divide

Select operations form 1, 2, 3, 4 :1
Enter first number: 23
Enter second number: 43
23 + 43 = 66