1.	Write a Python program to print "Hello Python"?

> Indented block

In [ ]:
print("Hello Python")

Hello Python

In [ ]:
#solution 1

print("Hello Python")

2.	Write a Python program to do arithmetical operations addition and division.?

In [ ]:
a = 4
b = 2
print(a+b)
print(a/b)

6
2.0

In [ ]:
#solution 2
 a = 4
 b = 2
 # Arithmetic addition
 c = a + b

 #division

 d = a/b

 print(c)
 print(d)

3.	Write a Python program to find the area of a triangle?

In [ ]:
def area(b,h):
  return (1/2) * (b * h)
area(40, 5)

100.0

In [ ]:
b = 30
h = 10
 # area of triangle
area = 1/2*(b*h)
print(area)

150.0

4.	Write a Python program to swap two variables?

In [ ]:
def swapv(a,b):
  c=a+b
  d=a+b
  a=c-a
  b=c-b
  print(a,b)

swapv(5,6)

6 5

In [ ]:
a = 5
b = 10

print("Number before swapping"
)

c=a
a =b
b =c

5.	Write a Python program to generate a random number?

In [ ]:
import random
def ran():
  for x in range(10):
    print(random.randrange(2,60,2))

ran()

32
28
44
26
30
44
2
54
42
48