<a href="https://colab.research.google.com/github/Nitesh8833/Python_assignment_03/blob/main/PPBA10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Write a Python program to find sum of elements in list?

In [ ]:
list1 = [12,34,56,67,89,21,32,43,54]
sum=0
for element in list1:
  sum=sum+element
print(sum)

408

2.	Write a Python program to  Multiply all numbers in the list?

In [ ]:
list1 = [1,3,4,5]
multiply=1
for element in list1:
  multiply=multiply*element
print(multiply)

60

3.	Write a Python program to find smallest number in a list?

In [ ]:
list1 = [1,6,3,4,5]
list1.sort()
print("The Smallest number of the list is:", list1[0])

The Smallest number of the list is: 1

4.	Write a Python program to find largest number in a list?

In [ ]:
list1 = [1,6,3,4,5]
list1.sort()
print("The Largest number of the list is:", list1[-1])

The Largest number of the list is: 6

5.	Write a Python program to find second largest number in a list?

In [ ]:
list1 = [1,6,3,4,5]
list1.sort()
print("The Largest number of the list is:", list1[-2])

The Largest number of the list is: 5

6.	Write a Python program to find N largest elements from a list?

In [ ]:
list1 = [1,6,3,4,5,9,10,2]
n = 2
list1.sort()
print("The Largest number of the list is:", list1[-n:])

The Largest number of the list is: [9, 10]

7.	Write a Python program to print even numbers in a list?

In [9]:
list1 = [1,6,3,4,5,9,10,2]
a = [i for i in list1 if i % 2 == 0]
print(a)

[6, 4, 10, 2]

8.	Write a Python program to print odd numbers in a List?

In [10]:
list1 = [1,6,3,4,5,9,10,2]
a = [i for i in list1 if i % 2 == 1]
print(a)

[1, 3, 5, 9]

9.	Write a Python program to Remove empty List from List?

In [13]:
list1 = [1,[],6,3,[],4,5,[],9,10,2]
print("Original List: ",list1)
list2 = [i for i in list1 if i != []]
print("New List: ",list2)

Original List:  [1, [], 6, 3, [], 4, 5, [], 9, 10, 2]
New List:  [1, 6, 3, 4, 5, 9, 10, 2]

10.	Write a Python program to Cloning or Copying a list?

In [14]:
def Clone_list(list1):
  list_copy = list1[:]
  return list_copy

Clone_list([1,6,3,4,5,9,10,2])

[1, 6, 3, 4, 5, 9, 10, 2]

11.	Write a Python program to Count occurrences of an element in a list?

In [22]:
list1 = [1,1,1,4,5,1,10,2]
def countNum(list1, num):
  return list1.count(num)


countNum(list1,1)
print('{} has occured {} times'.format(1,countNum(list1,1)))

1 has occured 4 times